td {
    width: 9px;
    height: 9px;
    border: 1px solid black;
    font-size: 8.2px;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}